__pycache__/
.DS_Store
*.result.json
*.state.json
*.replies.json
kaisetu/example/sample-data.html
kaisetu/example/sample-page-data.html
kaisetu/example/sample-kidoku.html
kaisetu/example/sample-kidoku.ja.html
